body {
    background: #999999;
    max-width: 100%;
    margin: auto;
    padding: 64px;
}

.timer {
    box-sizing: content-box;
    font-family: sans-serif;
    display: flex;
    text-align: center;
    font-size: 56px;
    border-radius: 64px;
    border: none;
    color: white;
    background: #8208e6;
    flex-direction: column;
}

.showCurrentDate {
    display: block;
    font-family: sans-serif;
    color: inherit;
    text-align: center;
    font-size: 128px;
    padding: 24px 32px;
    border-radius: inherit;
}

.showRemainingTime {
    display: block;
    font-family: sans-serif;
    color: inherit;
    text-align: center;
    font-size: 56px;
    padding-top: 64px;
    background: #9560c0;
}

.showTargetTime {
    display: block;
    font-family: sans-serif;
    color: inherit;
    text-align: center;
    font-size: 56px;
    padding-bottom: 64px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    background: #9560c0;
}